.img-title{
    float: left;
    margin-top: 4px;
    margin-left: auto;
    padding-left: 20px;
}

.text-spacing{
    margin-left: 20;
}

.img-body{
<<<<<<< HEAD
    width:30px;
    height:30px;
    size: 30px;
=======
    width:40px;
    height:40px;
    size: 20px;
>>>>>>> c85694bc29e9b71037888c165907e2c8257b6ffd
}